openapi: 3.0.3
servers:
  - url: 'https://live.api.fiskaly.com'
    description: |
      Live Environment
  - url: 'https://test.api.fiskaly.com'
    description: |
      Test Environment
info:
  version: '2026-06-01'
  title: 'fiskaly E-INVOICE IT'
  contact:
    email: info@fiskaly.com
    name: 'info'
    url: 'https://fiskaly.com'
  description: |
    Imprint: [fiskaly.com/impressum](https://fiskaly.com/impressum)
    <br>
    Privacy Policy: [fiskaly.com/privacy-policy](https://www.fiskaly.com/privacy-policy)
    
    
    Service Details: [fiskaly.com/electronic-invoicing](https://www.fiskaly.com/electronic-invoicing-b2b)
    <br>
    Developer Guide: [workspace.fiskaly.com/e-invoice](https://workspace.fiskaly.com/e-invoice/integration_guide)
    
    
    # Introduction
    The fiskaly API is a RESTful, cross-country solution designed to support compliance with the relevant legislation. 
    
    The fiskaly API is a platform-independent and software-only solution.
    Since this is a cloud-based API, the only requirement to integrate and use this fiskaly API is a stable Internet connection. The API ...
    
    - has resource-oriented URLs,
    
    - accepts [JSON](https://wikipedia.org/wiki/JSON)-encoded request bodies,
    
    - returns [JSON](https://wikipedia.org/wiki/JSON)-encoded responses,
    
    - uses standard HTTP status codes and verbs, and
    
    - is designed to be easily integrated into any system.
    
    **Country-specific documentation:** Use the country selector at the top of this page to tailor the reference to your markets. Unflagged text is the shared baseline for all selected countries; flag-marked blocks provide additional country-specific information. The specification download follows your selection.
    
    
    # Background
    
    fiskaly E-INVOICE supports electronic invoicing based on the European standard EN 16931, published by CEN/TC 434 on June 28, 2017, which defines a common semantic data model for e-invoices and is aligned with EU Directive 2014/55/EU.
    
    EN 16931 defines the required invoice content as structured, machine-readable data. Compliance depends on producing invoices that match this structure and exchanging them electronically between sender and recipient systems through the applicable transmission model.
    
    
    # Service
    
    Our fiskaly API service offers a compliance-as-a-service solution implementation that records business transaction, technical events, and taxpayer interactions in an inalterable and cryptographically secure way.
    
    
    ## Guides
    
    To ensure a smooth implementation of our fiskaly API, we highly recommend that you first have a look at our [integration guide](https://workspace.fiskaly.com/e-invoice/integration_guide) where you will find an explanation of how to create your organizational structure and API keys, as well as a first overview of our fiskaly API endpoints.
    
    
    ## Changes
    
    The up-to-date information below is organized in a change log format.
    
    
    ### <a name="2026-08-25"></a>[2026-08-25](#2026-08-25) SIGN ES Preview
    
    **SIGN ES** 🇪🇸
    
    * SIGN ES is now available in the Unified API as a **Preview**: the full Spanish fiscalization flow can be integrated and tested in the test environment. Production is not yet activated — for production use, please continue to use the Specialized SIGN ES API.
    * New Spanish taxpayer `fiscalization` object with `tax_id_number` (NIF) and `region` (mainland Spain, Canary Islands, Ceuta, Melilla — determining IVA/IGIC/IPSI).
    * Extended entry VAT (`VatRateCategory`): new optional fields `regime` (special VAT regime), `regime_base` (taxable base under that regime), and `surcharge` with `rate` and `amount` (e.g. recargo de equivalencia).
    * New VAT type `VAT_REVERSE_CHARGE` for entry VAT and the transaction VAT breakdown.
    * New `legend` field on the record `compliance` object — the legally required verification notice to print on Spanish invoices.
    * New `identifier` field on the record `transmission` object — the identifier issued by the tax authorities as confirmation (e.g. secure verification code).
    
    **SIGN SE** 🇸🇪
    
    * Invalid document numbers are now rejected before signing, so errors surface immediately at request time.
    
    **SIGN PT** 🇵🇹
    
    * The test environment now supports connecting with real credentials in addition to mocked taxpayer data.
    
    ### <a name="2026-06-01"></a>[2026-06-01](#2026-06-01) Multi-Country Update
    
    * Portuguese fiscalization enabled for productive use
    * initial Austrian fiscalization support via Unified API (integration ready)
    * initial Swedish fiscalization support — integration-ready implementation (pending activation)
    * initial Spanish fiscalization support — integration-ready implementation (pending activation)
    * initial e-invoicing support for Italy (integration ready)
    
    
    ## Versioning
    
    <!-- {{VERSION_DEBUG}} -->
    
    Our fiskaly API follows [Calendar (Date-based) Versioning](https://calver.org/).
    The version number has a pattern of `YYYY-MM-DD` whereas the `YYYY` stands for the year, `MM` stands for the month, and `DD` stands for the day.
    
    The latest version is: `X-Api-Version: 2026-06-01`.
    
    | Version | SIGN | E-INVOICE |
    | --- | --- | --- |
    | `2026-06-01` | IT , FR , PT , AT , SE | BE , DE , IT |
    | `2026-05-04` | IT , FR , PT | BE , DE |
    | `2026-02-03` | IT , FR | BE , DE |
    | `2025-08-12` | IT , FR | — |
    | `2024-10-31` | IT | — |
    
    
    ## Idempotency
    
    Idempotency ensures that repeated identical requests produce the same result, even if they are retried due to network issues, timeouts, or other transient problems.
    This [idempotency](https://en.wikipedia.org/wiki/Idempotence) behavior prevents duplicate resource creation or unintended side effects in APIs that accept `POST` (creation) or `PATCH` (alteration) requests.
    
    The `X-Idempotency-Key` HTTP header in this API follows the principles of the Internet Engineering Task Force (IETF) [idempotency specification](https://www.ietf.org/archive/id/draft-ietf-httpapi-idempotency-key-header-05.txt) and plays a vital role in implementing idempotent requests.
    API clients use this header to uniquely identify requests, enabling the API to track and manage their outcomes across retries.
    
    The value of the HTTP header is a [Universally Unique Identifier (UUID)](https://en.wikipedia.org/wiki/Universally_unique_identifier) -- version 3 or version 4 -- key provided by the client for each idempotent request.
    This key ensures that retries of the same request are recognized by the server.
    
    This key is **required for** all `POST` and `PATCH` requests.
    This key is **ignored for** all other HTTP request methods like `GET`, `PUT`, `DELETE` etc. since these are inherently idempotent by HTTP standards.
    
    Exception: The `POST /tokens` endpoint currently does not react on the provided `X-Idempotency-Key` HTTP header.
    This exception will be resolved by upcoming improvements to the API.
    
    The HTTP header format is defined as: `X-Idempotency-Key: <key>`.
    The `<key>` value shall be a valid and randomized `UUIDv4` string.
    Furthermore, this key shall be unique for each logically distinct request.
    
    The API service keeps track of the `X-Idempotency-Key` (key) and the associated request status, payload, and response (value) in a persistence cache.
    By default the stored idempotency key-value pairs expire after 24 hours (1 day) after their creation timestamp.
    If another request reaches the API service and there is already the same `X-Idempotency-Key` available, where the request method and payload are also equal to the cached value, the API service returns the cached response.
    
    If the API service returns:
    - `422 Unprocessable Entity`: Verify that the request headers and payload match exactly between retries. Ensure the idempotency key is not reused for unrelated operations.
    - `409 Conflict`: The request is already being processed. Wait before retrying and ensure there are no concurrent retries with the same idempotency key.
    
    With the latest API update on March 18, 2026, a new response header, `X-Idempotency-Replayed`, has been introduced for all `POST` and `PATCH` requests. This header allows integrators to clearly distinguish between retried requests (`"true"`) and newly processed requests (`"false"`), improving transparency and simplifying debugging.
    
    For more details, please refer to our blog article: [Unified API Update: Enhanced Idempotency Handling](https://workspace.fiskaly.com/blog/unified-api-idempotency-transparency/).
    
    
    ## Quick Start with Postman
    
    For a quick first demo, you may use Postman.  
    We prepared a Postman collection that allows you to step through the most important functions of this API.
    
    1. Download the [Postman](https://www.getpostman.com/downloads/) application.
    
    2. Create an **API Key** and **API Secret** on your `Organization::GROUP` via the [fiskaly HUB](https://hub.fiskaly.com).
    
    3. Download your **fiskaly E-INVOICE IT** Postman environment JSON-based configuration file: <a href="/static/postman/UAPI_2026-06-01/fiskaly_e-invoice_it_2026-06-01_postman_environment.json" download>Download Postman Environment</a>
    
    4. Download the **fiskaly E-INVOICE IT** Postman collection JSON-based configuration file: <a href="/static/postman/UAPI_2026-06-01/fiskaly_e-invoice_it_2026-06-01_postman_collection.json" download>Download Postman Collection</a>
    
    5. Start Postman and import the downloaded Postman environment and collection files.
    
    6. Update the **API Key** and **API Secret** values in the Postman environment to match your credentials.
    
    7. Select the **fiskaly E-INVOICE IT** Postman environment and run the collection.
    
    
    ## FAQs
    
    For each country and service, a dedicated FAQ page is available, covering the usage and integration of the fiskaly API:
    
    - SIGN AT : FAQ page coming soon.
    - [SIGN FR ](https://support.fiskaly.com/hc/en-001/categories/21399793331484)
    - [SIGN IT ](https://support.fiskaly.com/hc/en-001/categories/14274771396636)
    - [SIGN PT ](https://support.fiskaly.com/hc/en-001/categories/25234968879516-SIGN-PT)
    - SIGN SE : FAQ page coming soon.
    - SIGN ES : FAQ page coming soon.
    - [E-INVOICE ](https://support.fiskaly.com/hc/en-001/categories/25125851351964)
    
  x-logo:
    url: 'https://fiskaly.com/fiskaly_logo.svg'
    altText: 'fiskaly Logo'
tags:
  - name: 'Tokens'
    description: |
      In order to access the fiskaly API, a valid **JSON Web Token (JWT)** is required.
      The information carried inside the **JWT** is used for authentication and authorization of every request towards the fiskaly API.
      API requests without a **JWT** present will fail with an unauthorized access HTTP error `401`.
      
      A `Token` resource can be created by using the `key` and `secret` credentials information of an already existing `Subject::API_KEY`.
      The API key `secret` will be generated from the fiskaly API and provided only in the response of the `POST /tokens` request.
      
      Each `Token` resource has its own unique `id` in form of a [UUIDv4](https://datatracker.ietf.org/doc/html/rfc4122), the **JWT** `bearer` string, an `issued_at` timestamp, and an `expires_at` timestamp.
      Additionally, the `token` resource provides the information to which `Asset` and which `Subject` the token belongs to.
      
      The **JWT** `bearer` string must be sent with every following request in the HTTP `Authorization` header field using the `Bearer` [authentication scheme](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1).
      
      The fiskaly API processes only `https` based requests.
      Plain `http` based requests are redirected to `https` by the fiskaly service.
      
  - name: 'Subjects'
    description: |
      A `Subject` represents an authenticated identity with defined access rights.
      
      Currently, the fiskaly API supports `Subject` resources of type `API_KEY` (`Subject::API_KEY`).
      The support for handling `Subject` resources of type `USER` (`Subject::USER`) is available soon.
      
      The `X-Scope-Identifier` HTTP header establishes the link between the `Subject` and the corresponding `Asset` resource.
      
  - name: 'Organizations'
    description: |
      `Organization` resources are used to represent a management structure (organizational hierarchy):
      
      - `ACCOUNT` represents your top-level entity. Created when you register on the HUB. Represents the POS provider or a retailer that operates its own PoS system.
      - `GROUP` an intermediate layer within an Account, used to cluster multiple `Organization` resources of type UNIT into logical clusters (e.g. one Group per country).
      - `UNIT` represents an individual legal entity. Each unit corresponds to a specific merchant and has its own taxpayer data and fiscal resources.
      
  - name: 'Taxpayers'
    description: |
      A `Taxpayer` resource represents a particular `Organization::UNIT` with the relevant legal taxpayer (taxpayer) data.
      A legal taxpayer consists of two main parts: taxpayer information and country-specific fiscalization details.
      
      The lifecycle of a `Taxpayer` resource is depicted in the following `state` and `mode` transitions:
      
      ![](/static/docs/taxpayer_location_system_state_mode.png)
      
  - name: 'Locations'
    description: |
      A `Location` resource represents the taxpayers location data.
      
      The lifecycle of a `Location` resource is depicted in the following `state` and `mode` transitions:
      
      ![](/static/docs/taxpayer_location_system_state_mode.png)
      
  - name: 'Systems'
    description: |
      A `System` represents an Electronic Recording System (ERS), such as a Point of Sale (PoS) or any other system capable of performing business operations.
      
      For most contracts, Systems are the units used for billing with fiskaly.
      A `System` becomes relevant for billing once you change its state from `ACQUIRED` to `COMMISSIONED` in the LIVE environment.
      Resources in the TEST environment are not billed.
      For the exact billing conditions, please refer to your contract with fiskaly.
      
      The lifecycle of a `System` resource is depicted in the following `state` and `mode` transitions:
      
      ![](/static/docs/taxpayer_location_system_state_mode.png)
      
  - name: 'Records'
    description: |
      A `Record` represents a persisted and signed artifact of any kind interaction with a given `System` resource that is carried out through the fiskaly API.
      
      ![](/static/docs/record_state_mode_en.png)
      
  - name: 'Files'
    description: |
      A `File` represents a save file resource.
x-tagGroups:
  - name: 'Management'
    tags:
      - 'Tokens'
      - 'Organizations'
      - 'Subjects'
  - name: 'Operation'
    tags:
      - 'Taxpayers'
      - 'Locations'
      - 'Systems'
      - 'Records'
      - 'Files'
paths:
  /tokens:
    post:
      summary: 'Create a token'
      description: |
        This endpoint is used to create a `Token` resource.
        Currently, the fiskaly API supports an `Subject::API_KEY` based `Token` creation which returns the [JWT](#tag/Tokens) `bearer` HTTP authentication string that is valid until a given `expires_at` timestamp.
        
        Recreations of the new `Token` resource is required only then if the received [JWT](#tag/Tokens) `bearer` string has expired.
        
      tags:
        - 'Tokens'
      security: []
      operationId: createToken
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /subjects:
    get:
      summary: 'List subjects'
      description: |
        A `Subject` represents an authenticated identity with defined access rights.
        
        Currently, the fiskaly API supports `Subject` resources of type `API_KEY` (`Subject::API_KEY`).
        The support for handling `Subject` resources of type `USER` (`Subject::USER`) is available soon.
        
        The `X-Scope-Identifier` HTTP header establishes the link between the `Subject` and the corresponding `Asset` resource.
        
      tags:
        - 'Subjects'
      security:
        - JWT: []
      operationId: listSubjects
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ScopeIdentifier'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
      responses:
        '200':
          $ref: '#/components/responses/SubjectsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create a subject'
      description: |
        A `Subject` represents an authenticated identity with defined access rights.
        
        Currently, the fiskaly API supports `Subject` resources of type `API_KEY` (`Subject::API_KEY`).
        The support for handling `Subject` resources of type `USER` (`Subject::USER`) is available soon.
        
        The `X-Scope-Identifier` HTTP header establishes the link between the `Subject` and the corresponding `Asset` resource.
        
      tags:
        - 'Subjects'
      security:
        - JWT: []
      operationId: createSubject
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ScopeIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubjectCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SubjectResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/subjects/{subject_id}':
    patch:
      summary: 'Update a subject'
      description: |
        This endpoint is used to update a `Subject` resource.
      tags:
        - 'Subjects'
      security:
        - JWT: []
      operationId: updateSubject
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/SubjectIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubjectUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SubjectResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    get:
      summary: 'Retrieve a subject'
      description: |
        This endpoint is used to retrieve a `Subject` resource.
      tags:
        - 'Subjects'
      security:
        - JWT: []
      operationId: retrieveSubject
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/SubjectIdentifier'
      responses:
        '200':
          $ref: '#/components/responses/SubjectResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /organizations:
    get:
      summary: 'List organizations'
      description: |
        This endpoint is used to list `Organization` resources to represent and manage organizational structures.
      tags:
        - 'Organizations'
      security:
        - JWT: []
      operationId: listOrganizations
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ScopeIdentifier'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create an organization'
      description: |
        This endpoint is used to create `Organization` resources to represent and manage organizational structures.
      tags:
        - 'Organizations'
      security:
        - JWT: []
      operationId: createOrganization
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ScopeIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/organizations/{organization_id}':
    patch:
      summary: 'Update an organization'
      description: |
        This endpoint is used to update an `Organization` resource.
      tags:
        - 'Organizations'
      security:
        - JWT: []
      operationId: updateOrganization
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/OrganizationIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    get:
      summary: 'Retrieve an organization'
      description: |
        This endpoint is used to retrieve an `Organization` resource.
      tags:
        - 'Organizations'
      security:
        - JWT: []
      operationId: retrieveOrganization
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/OrganizationIdentifier'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /taxpayers:
    get:
      summary: 'List taxpayers'
      description: |
        This endpoint is used to list `Taxpayer` resources.
      tags:
        - 'Taxpayers'
      security:
        - JWT: []
      operationId: listTaxpayers
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayersResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create a taxpayer'
      description: |
        This endpoint is used to create `Taxpayer` resources.
        Currently the fiskaly API supports the creation of legal taxpayers as a `COMPANY` (for business taxpayers) or as an `INDIVIDUAL` (for self-employed) which require the details of the taxpayer legal name, legal address, and fiscalization-related data such as the VAT number, tax identification number, and credentials for accessing the Revenue Agency portal.
        
        When a `Taxpayer` is created, its initial `state` is automatically set to `ACQUIRED`.
        In order to make it fully operational, the `state` must be updated to `COMMISSIONED` using the [updateTaxpayer](#tag/Taxpayers/operation/updateTaxpayer) endpoint.
        
      tags:
        - 'Taxpayers'
      security:
        - JWT: []
      operationId: createTaxpayer
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxpayerCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/taxpayers/{taxpayer_id}':
    patch:
      summary: 'Update a taxpayer'
      description: |
        This endpoint is used to update a `Taxpayer` resource.
        
        Please note that, for certain use cases, particular state and mode transitions are required.
        Please refer to our [Guide](https://workspace.fiskaly.com/countries/italy/) for examples.
        
      tags:
        - 'Taxpayers'
      security:
        - JWT: []
      operationId: updateTaxpayer
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/TaxpayerIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxpayerUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    get:
      summary: 'Retrieve a taxpayer'
      description: |
        This endpoint is used to retrieve a `Taxpayer` resource.
      tags:
        - 'Taxpayers'
      security:
        - JWT: []
      operationId: retrieveTaxpayer
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/TaxpayerIdentifier'
      responses:
        '200':
          $ref: '#/components/responses/TaxpayerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /locations:
    get:
      summary: 'List locations'
      description: |
        This endpoint is used to list `Location` resources.
      tags:
        - 'Locations'
      security:
        - JWT: []
      operationId: listLocations
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
        - $ref: '#/components/parameters/TaxpayerIdentifierQuery'
      responses:
        '200':
          $ref: '#/components/responses/LocationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create a location'
      description: |
        This endpoint is used to create `Location` resources.
        Currently the fiskaly API supports the creation of `BRANCH` locations that represent the physical address of the business premises or establishment.
        
        When a `Location` is created, its initial `state` is automatically set to `ACQUIRED`.
        In order to make it fully operational, the `state` must be updated to `COMMISSIONED` using the [updateLocation](#tag/Locations/operation/updateLocation) endpoint.
        
      tags:
        - 'Locations'
      security:
        - JWT: []
      operationId: createLocation
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/LocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/locations/{location_id}':
    patch:
      summary: 'Update a location'
      description: |
        This endpoint is used to update a `Location` resource.
        
        Please note that, for certain use cases, particular state and mode transitions are required.
        Please refer to our [Guide](https://workspace.fiskaly.com/countries/italy/) for examples.
        
      tags:
        - 'Locations'
      security:
        - JWT: []
      operationId: updateLocation
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/LocationIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/LocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    get:
      summary: 'Retrieve a location'
      description: |
        This endpoint is used to retrieve a `Location` resource.
      tags:
        - 'Locations'
      security:
        - JWT: []
      operationId: retrieveLocation
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/LocationIdentifier'
      responses:
        '200':
          $ref: '#/components/responses/LocationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /systems:
    get:
      summary: 'List systems'
      description: |
        This endpoint is used to list `System` resources.
      tags:
        - 'Systems'
      security:
        - JWT: []
      operationId: listSystems
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
        - $ref: '#/components/parameters/TaxpayerIdentifierQuery'
        - $ref: '#/components/parameters/LocationIdentifierQuery'
      responses:
        '200':
          $ref: '#/components/responses/SystemsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create a system'
      description: |
        This endpoint is used to create `System` resources.
      tags:
        - 'Systems'
      security:
        - JWT: []
      operationId: createSystem
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SystemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/systems/{system_id}':
    patch:
      summary: 'Update a system'
      description: |
        This endpoint is used to update `System` resources.
        
        Please note that, for certain use cases, particular state and mode transitions are required.
        Please refer to our [Guide](https://workspace.fiskaly.com/countries/italy/) for examples.
        
      tags:
        - 'Systems'
      security:
        - JWT: []
      operationId: updateSystem
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/SystemIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SystemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    get:
      summary: 'Retrieve a system'
      description: |
        This endpoint is used to retrieve `System` resources.
      tags:
        - 'Systems'
      security:
        - JWT: []
      operationId: retrieveSystem
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/SystemIdentifier'
      responses:
        '200':
          $ref: '#/components/responses/SystemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /records:
    get:
      summary: 'List records'
      description: |
        This endpoint is used to list `Record` resources.
      tags:
        - 'Records'
      security:
        - JWT: []
      operationId: listRecords
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
        - $ref: '#/components/parameters/TaxpayerIdentifierQuery'
        - $ref: '#/components/parameters/LocationIdentifierQuery'
        - $ref: '#/components/parameters/SystemIdentifierQuery'
        - $ref: '#/components/parameters/RecordTypeQuery'
      responses:
        '200':
          $ref: '#/components/responses/RecordsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create a record'
      description: |
        This endpoint is used to create `Record` resources.
        
        Every interaction with a `System` resource requires an initial `Record` creation of type `INTENTION` (`Record::INTENTION`).
        
        Currently the fiskaly API supports only an `INTENTION` of a `TRANSACTION` which reflects the interaction with a `System` resource right at the beginning of a purchase process.
        
        Directly after the payment process, the transaction can be concluded with a subsequent `Record` creation call providing the `TRANSACTION` information, containing details of a given business activity which links to the previous `Record::INTENTION::TRANSACTION`.
        
      tags:
        - 'Records'
      security:
        - JWT: []
      operationId: createRecord
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ReplayRemaining'
        - $ref: '#/components/parameters/ReplayHash'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/RecordResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/records/{record_id}':
    patch:
      summary: 'Update a record'
      description: |
        This endpoint is used to update `Record` resources.
        
        Please note that currently all state and mode transitions are carried out by the fiskaly API service itself internally for `Record` resources.
        Please refer to our [Guide](https://workspace.fiskaly.com/countries/italy/).
        
      tags:
        - 'Records'
      security:
        - JWT: []
      operationId: updateRecord
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RecordIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/RecordResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    get:
      summary: 'Retrieve a record'
      description: |
        This endpoint is used to retrieve `Record` resources.
      tags:
        - 'Records'
      security:
        - JWT: []
      operationId: retrieveRecord
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/RecordIdentifier'
        - $ref: '#/components/parameters/RecordOperationQuery'
        - $ref: '#/components/parameters/RecordFileArtifactQuery'
        - $ref: '#/components/parameters/RecordFileIntegrityQuery'
        - $ref: '#/components/parameters/RecordComplianceArtifactQuery'
        - $ref: '#/components/parameters/RecordArchiveArtifactQuery'
        - $ref: '#/components/parameters/RecordDataArtifactQuery'
        - $ref: '#/components/parameters/RecordDataIntegrityQuery'
      responses:
        '200':
          $ref: '#/components/responses/RecordResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /files:
    get:
      summary: 'List files'
      description: |
        This endpoint is used to list `File` resources.
      tags:
        - 'Files'
      security:
        - JWT: []
      operationId: listFiles
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/PaginationLimitQuery'
        - $ref: '#/components/parameters/PaginationTokenQuery'
        - $ref: '#/components/parameters/SystemIdentifierQuery'
        - $ref: '#/components/parameters/TaxpayerIdentifierQuery'
        - $ref: '#/components/parameters/FileTypeQuery'
        - $ref: '#/components/parameters/FileCreatedStartQuery'
        - $ref: '#/components/parameters/FileCreatedEndQuery'
      responses:
        '200':
          $ref: '#/components/responses/FilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
    post:
      summary: 'Create a file'
      description: |
        This endpoint is used to create a new `File` resource (e.g., SAF-T audit export) for a specified date range.
      tags:
        - 'Files'
      security:
        - JWT: []
      operationId: createFile
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/FileResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowedResponse'
        '409':
          $ref: '#/components/responses/ResourceConflictResponse'
        '422':
          $ref: '#/components/responses/UnprocessableContentResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  '/files/{path}':
    get:
      summary: 'Stream a file'
      description: |
        This endpoint is used to stream a `File` content.
      tags:
        - 'Files'
      security:
        - JWT: []
      operationId: streamFile
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/FilePath'
      responses:
        '200':
          $ref: '#/components/responses/FileStream'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedAccessResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
components:
  parameters:
    ApiVersion:
      description: |
        The API version, see [versioning](#intro-shared-versioning).
      in: header
      name: X-Api-Version
      required: true
      schema:
        $ref: '#/components/schemas/ApiVersion'
    IdempotencyKey:
      description: |
        The idempotency key, see [idempotency](#intro-shared-idempotency).
      in: header
      name: X-Idempotency-Key
      required: true
      schema:
        $ref: '#/components/schemas/IdempotencyKey'
    ScopeIdentifier:
      description: |
        The `X-Scope-Identifier` header specifies the organization scope in which the request is executed. This ensures that the operation is linked to the correct organization within the organization hierarchy.
      in: header
      name: X-Scope-Identifier
      required: false
      schema:
        $ref: '#/components/schemas/ScopeIdentifier'
    ReplayRemaining:
      description: |
        Current number of records left (only relevant for offline scenario).
      in: header
      name: X-Replay-Remaining
      schema:
        $ref: '#/components/schemas/ReplayRemaining'
    ReplayHash:
      description: |
        The hash stored during offline phase in base64 format (only relevant for offline scenario).
      in: header
      name: X-Replay-Hash
      schema:
        $ref: '#/components/schemas/ReplayHash'
    SubjectIdentifier:
      description: |
        Subject identifier.
      in: path
      name: subject_id
      required: true
      schema:
        $ref: '#/components/schemas/SubjectIdentifier'
    OrganizationIdentifier:
      description: |
        Organization identifier.
      in: path
      name: organization_id
      required: true
      schema:
        $ref: '#/components/schemas/OrganizationIdentifier'
    TaxpayerIdentifier:
      description: |
        Taxpayer identifier.
      in: path
      name: taxpayer_id
      required: true
      schema:
        $ref: '#/components/schemas/TaxpayerIdentifier'
    LocationIdentifier:
      description: |
        Location identifier.
      in: path
      name: location_id
      required: true
      schema:
        $ref: '#/components/schemas/LocationIdentifier'
    SystemIdentifier:
      description: |
        System identifier.
      in: path
      name: system_id
      required: true
      schema:
        $ref: '#/components/schemas/SystemIdentifier'
    RecordIdentifier:
      description: |
        Record identifier.
      in: path
      name: record_id
      required: true
      schema:
        $ref: '#/components/schemas/RecordIdentifier'
    FilePath:
      description: |
        Path of the `File` to stream. Consists of the file identifier (UUID) with a `.zip` extension, optionally followed by `.jws` (e.g. `0189f7ea-ae2c-7809-8aeb-b819cf5e9e7f.zip`).
      in: path
      name: path
      required: true
      schema:
        $ref: '#/components/schemas/Path'
    FileCreatedStartQuery:
      description: |
        Defines the start date and time.
      in: query
      name: start
      required: false
      schema:
        $ref: '#/components/schemas/FileCreationTimestamp'
    FileCreatedEndQuery:
      description: |
        Defines the end date and time.
      in: query
      name: end
      required: false
      schema:
        $ref: '#/components/schemas/FileCreationTimestamp'
    FileTypeQuery:
      description: |
        Filter listed files by `type`.
      in: query
      name: type
      required: false
      schema:
        $ref: '#/components/schemas/FileTypes'
    PaginationLimitQuery:
      description: |
        Represents the pagination limit of the results set of a listing endpoint.
      in: query
      name: limit
      required: false
      schema:
        $ref: '#/components/schemas/PaginationLimit'
    PaginationTokenQuery:
      description: |
        Represents the pagination token, which is used as an index pointer to the next page relative to the current page in Base64 encoding.
      in: query
      name: token
      required: false
      schema:
        $ref: '#/components/schemas/PaginationToken'
    TaxpayerIdentifierQuery:
      description: |
        Taxpayer identifier.
      in: query
      name: taxpayer_id
      required: false
      schema:
        $ref: '#/components/schemas/TaxpayerIdentifier'
    LocationIdentifierQuery:
      description: |
        Location identifier.
      in: query
      name: location_id
      required: false
      schema:
        $ref: '#/components/schemas/LocationIdentifier'
    SystemIdentifierQuery:
      description: |
        System identifier.
      in: query
      name: system_id
      required: false
      schema:
        $ref: '#/components/schemas/SystemIdentifier'
    RecordTypeQuery:
      description: |
        Record type.
      in: query
      name: type
      required: false
      style: form
      explode: false
      schema:
        type: array
        uniqueItems: true
        minItems: 1
        maxItems: 10
        items:
          $ref: '#/components/schemas/SystemRecordType'
    RecordOperationQuery:
      description: |
        Defines the operation.
      in: query
      name: operation
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    RecordFileArtifactQuery:
      description: |
        Provides the complete signed XML artifact.
      in: query
      name: file-artifact
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    RecordFileIntegrityQuery:
      description: |
        Provides a JOSE file ensuring blob data integrity, JWS-signed with the system certificate.
      in: query
      name: file-integrity
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    RecordDataArtifactQuery:
      description: |
        Provides the location of the export blob data.
      in: query
      name: data-artifact
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    RecordDataIntegrityQuery:
      description: |
        Provides the location of the JOSE integrity file, JWS-signed with the system certificate.
      in: query
      name: data-integrity
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    RecordComplianceArtifactQuery:
      description: |
        Compliance-related document/artifact.
      in: query
      name: compliance-artifact
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    RecordArchiveArtifactQuery:
      description: |
        Provides the archive-related document/artifact.
      in: query
      name: archive-artifact
      required: false
      allowEmptyValue: true
      schema:
        type: string
        enum:
          - ''
    TraceIdentifier:
      description: |
        Unique identifier used to trace a request across fiskaly systems, sent in the required `X-Trace-Identifier` header and echoed back in the response headers.
      in: header
      name: X-Trace-Identifier
      required: true
      schema:
        $ref: '#/components/schemas/TraceIdentifier'
  responses:
    TokenResponse:
      description: |
        Token Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResource'
    SubjectsResponse:
      description: |
        Subjects Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubjectResources'
    SubjectResponse:
      description: |
        Subject Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Idempotency-Replayed:
          required: false
          schema:
            $ref: '#/components/schemas/IdempotencyReplayed'
        X-Scope-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/ScopeIdentifier'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubjectResource'
    OrganizationsResponse:
      description: |
        Organizations Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationResources'
    OrganizationResponse:
      description: |
        Organization Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Idempotency-Replayed:
          required: false
          schema:
            $ref: '#/components/schemas/IdempotencyReplayed'
        X-Scope-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/ScopeIdentifier'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationResource'
    TaxpayersResponse:
      description: |
        Taxpayers Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaxpayerResources'
    TaxpayerResponse:
      description: |
        Taxpayer Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Idempotency-Replayed:
          required: false
          schema:
            $ref: '#/components/schemas/IdempotencyReplayed'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaxpayerResource'
    LocationsResponse:
      description: |
        Locations response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationResources'
    LocationResponse:
      description: |
        Locations response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Idempotency-Replayed:
          required: false
          schema:
            $ref: '#/components/schemas/IdempotencyReplayed'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationResource'
    SystemsResponse:
      description: |
        Systems Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemResources'
    SystemResponse:
      description: |
        System Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Idempotency-Replayed:
          required: false
          schema:
            $ref: '#/components/schemas/IdempotencyReplayed'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemResource'
    RecordsResponse:
      description: |
        Records Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RecordResources'
    FilesResponse:
      description: |
        Files Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileResources'
    FileResponse:
      description: |
        File Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileResource'
    FileStream:
      description: |
        File Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
        Content-Disposition:
          schema:
            type: string
          description: |
            File Response.
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
    RecordResponse:
      description: |
        Record Response.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Idempotency-Replayed:
          required: false
          schema:
            $ref: '#/components/schemas/IdempotencyReplayed'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RecordResource'
    BadRequestResponse:
      description: |
        Bad Request.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    UnauthorizedAccessResponse:
      description: |
        Unauthorized Access.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    ResourceNotFoundResponse:
      description: |
        Resource Not Found.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    ResourceConflictResponse:
      description: |
        Resource Conflict.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    UnprocessableContentResponse:
      description: |
        Unprocessable Content.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    MethodNotAllowedResponse:
      description: |
        Method Not Allowed.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    TooManyRequestsResponse:
      description: |
        Too Many Requests.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    InternalServerErrorResponse:
      description: |
        Internal Server Error.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    ServiceUnavailableResponse:
      description: |
        Unavailable service.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
        Retry-After:
          required: true
          schema:
            type: integer
            minimum: 0
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
    NotImplementedErrorResponse:
      description: |
        Not Implemented.
      headers:
        X-Api-Version:
          required: true
          schema:
            $ref: '#/components/schemas/ApiVersion'
        X-Trace-Identifier:
          required: true
          schema:
            $ref: '#/components/schemas/TraceIdentifier'
      content:
        application/json:
          schema:
            type: object
            required:
              - content
            properties:
              content:
                $ref: '#/components/schemas/ErrorResponse'
            additionalProperties: false
  schemas:
    ApiVersion:
      allOf:
        - $ref: '#/components/schemas/DateFormatISO8601'
    IdempotencyKey:
      oneOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV4'
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV3'
    IdempotencyReplayed:
      description: |
        Indicates whether the same [idempotency](#section/Service/Idempotency) key was reused.
      type: boolean
    ReplayRemaining:
      allOf:
        - $ref: '#/components/schemas/UnsignedInteger15'
    ReplayHash:
      allOf:
        - $ref: '#/components/schemas/PlainString64'
    ScopeIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV4'
    TokenIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV4'
    SubjectIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV4'
    OrganizationIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV4'
    TaxpayerIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV7'
    LocationIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV7'
    SystemIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV7'
    RecordIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV7'
    FileIdentifier:
      allOf:
        - $ref: '#/components/schemas/UniversallyUniqueIdentifierV7'
    Path:
      type: string
      minLength: 1
      maxLength: 44
      example: 0189f7ea-ae2c-7809-8aeb-b819cf5e9e7f.zip
      pattern: '^[0-9a-f]{8}-?[0-9a-f]{4}-?7[0-9a-f]{3}-?[0-9a-f]{4}-?[0-9a-f]{12}\.zip(\.jws)?$'
    TraceIdentifier:
      type: string
    TokenCreateRequest:
      description: |
        Request body used to create a `Token`.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/TokenCreateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    TokenResource:
      description: |
        A `Token` resource.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/TokenContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    TokenCreateContent:
      description: |
        Defines the structure required to create the token.
      discriminator:
        propertyName: type
        mapping:
          API_KEY: '#/components/schemas/ApiKeyToken'
      oneOf:
        - $ref: '#/components/schemas/ApiKeyToken'
    TokenContent:
      allOf:
        - $ref: '#/components/schemas/Token'
    Token:
      description: |
        Defines the structure returned in the response when creating the token.
      type: object
      required:
        - id
        - authentication
        - organization
        - subject
      properties:
        id:
          $ref: '#/components/schemas/TokenIdentifier'
        authentication:
          $ref: '#/components/schemas/TokenAuthentication'
        organization:
          $ref: '#/components/schemas/OrganizationConnection'
        subject:
          $ref: '#/components/schemas/SubjectConnection'
      additionalProperties: false
    TokenAuthentication:
      description: |
        Token authentication.
      discriminator:
        propertyName: type
        mapping:
          JWT: '#/components/schemas/JsonWebTokenAuthentication'
      oneOf:
        - $ref: '#/components/schemas/JsonWebTokenAuthentication'
    JsonWebTokenAuthentication:
      description: |
        Token authentication of type `JWT`.
      type: object
      required:
        - type
        - bearer
        - expires_at
        - issued_at
      properties:
        type:
          type: string
          enum:
            - JWT
        bearer:
          $ref: '#/components/schemas/TokenBearer'
        expires_at:
          $ref: '#/components/schemas/TokenExpirationTimestamp'
        issued_at:
          $ref: '#/components/schemas/TokenIssuingTimestamp'
      additionalProperties: false
    TokenBearer:
      description: |
        Token bearer.
      allOf:
        - $ref: '#/components/schemas/Bearer'
    TokenExpirationTimestamp:
      description: |
        Token expiration timestamp.
      allOf:
        - $ref: '#/components/schemas/DatetimeFormatRFC3339'
    TokenIssuingTimestamp:
      description: |
        Token issuing timestamp.
      allOf:
        - $ref: '#/components/schemas/DatetimeFormatRFC3339'
    ApiKeyToken:
      description: |
        Defines the structure required to create a token.
      type: object
      required:
        - type
        - key
        - secret
      properties:
        type:
          type: string
          enum:
            - API_KEY
        key:
          $ref: '#/components/schemas/ApiKeyString'
        secret:
          $ref: '#/components/schemas/ApiSecretString'
      additionalProperties: false
    SubjectCreateRequest:
      description: |
        Request body used to create a `Subject` resource.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/SubjectCreateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    SubjectUpdateRequest:
      description: |
        Request body used to update a `Subject` resource.
      type: object
      properties:
        content:
          $ref: '#/components/schemas/SubjectUpdateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    SubjectResource:
      description: |
        A `Subject` represents an authenticated identity with defined access rights.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/SubjectContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    SubjectResources:
      description: |
        A paginated list of `Subject` resources.
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SubjectResource'
          minItems: 1
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      additionalProperties: false
    SubjectCreateContent:
      description: |
        Defines the structure required to create the subject.
      discriminator:
        propertyName: type
        mapping:
          API_KEY: '#/components/schemas/ApiKeySubject'
      oneOf:
        - $ref: '#/components/schemas/ApiKeySubject'
    SubjectUpdateContent:
      description: |
        Defines the structure required to update the subject.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/SubjectName'
      additionalProperties: false
    SubjectContent:
      allOf:
        - $ref: '#/components/schemas/Subjects'
        - $ref: '#/components/schemas/Subject'
    Subjects:
      oneOf:
        - $ref: '#/components/schemas/ApiKeySubject'
    Subject:
      description: |
        Defines the structure returned in the response when creating the Subject.
      type: object
      required:
        - id
        - state
      properties:
        id:
          $ref: '#/components/schemas/SubjectIdentifier'
        state:
          $ref: '#/components/schemas/SubjectState'
        credentials:
          $ref: '#/components/schemas/SubjectCredentials'
      additionalProperties: false
    SubjectState:
      description: |
        Subject state.
      type: string
      enum:
        - ENABLED
        - DISABLED
    SubjectConnection:
      description: |
        Connection to an already created subject.
      type: object
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/SubjectIdentifier'
      additionalProperties: false
    SubjectCredentials:
      description: |
        Subject credentials.
      type: object
      required:
        - key
      properties:
        key:
          $ref: '#/components/schemas/SubjectKey'
        secret:
          $ref: '#/components/schemas/SubjectSecret'
      additionalProperties: false
    SubjectName:
      description: |
        API Key name.
      allOf:
        - $ref: '#/components/schemas/PlainString128'
    SubjectKey:
      description: |
        Subject key.
      allOf:
        - $ref: '#/components/schemas/PlainString128'
    SubjectSecret:
      description: |
        Subject secret.
      allOf:
        - $ref: '#/components/schemas/PlainString128'
    ApiKeySubject:
      description: |
        Defines the structure required to create a Subject.
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum:
            - API_KEY
        name:
          $ref: '#/components/schemas/ApiKeySubjectName'
      additionalProperties: false
    ApiKeySubjectName:
      description: |
        API Key name.
      type: string
      pattern: '^[a-z0-9\-]{3,30}$'
      minLength: 3
      maxLength: 30
      example: my-api-key-0
    OrganizationCreateRequest:
      description: |
        Request body used to create an `Organization` resource.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/OrganizationCreateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    OrganizationUpdateRequest:
      description: |
        Request body used to update an `Organization` resource. Only the organization `name` and `metadata` can be changed.
      type: object
      properties:
        content:
          $ref: '#/components/schemas/OrganizationUpdateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    OrganizationResource:
      description: |
        An `Organization` resource, consisting of the organization `content` and optional `metadata`.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/OrganizationContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    OrganizationResources:
      description: |
        A paginated list of `Organization` resources.
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationResource'
          minItems: 1
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      additionalProperties: false
    OrganizationCreateContent:
      description: |
        Defines the structure required to create an Organization.
      discriminator:
        propertyName: type
        mapping:
          UNIT: '#/components/schemas/UnitOrganization'
          GROUP: '#/components/schemas/GroupOrganization'
      oneOf:
        - $ref: '#/components/schemas/UnitOrganization'
        - $ref: '#/components/schemas/GroupOrganization'
    OrganizationUpdateContent:
      description: |
        Defines the structure required to update an Organization.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/OrganizationName'
      additionalProperties: false
    OrganizationContent:
      allOf:
        - $ref: '#/components/schemas/Organizations'
        - $ref: '#/components/schemas/Organization'
    Organizations:
      oneOf:
        - $ref: '#/components/schemas/UnitOrganization'
        - $ref: '#/components/schemas/GroupOrganization'
        - $ref: '#/components/schemas/AccountOrganization'
    Organization:
      description: |
        Defines the structure of an organization returned in the response.
      type: object
      required:
        - id
        - state
      properties:
        id:
          $ref: '#/components/schemas/OrganizationIdentifier'
        state:
          $ref: '#/components/schemas/OrganizationState'
        organization:
          $ref: '#/components/schemas/OrganizationConnection'
      additionalProperties: false
    OrganizationName:
      description: |
        Organization name.
      allOf:
        - $ref: '#/components/schemas/PlainString128'
    OrganizationState:
      description: |
        Organization state.
      type: string
      enum:
        - ENABLED
        - DISABLED
    OrganizationConnection:
      description: |
        Connection to an already created organization.
      type: object
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/OrganizationIdentifier'
      additionalProperties: false
    AccountOrganization:
      description: |
        Organization of type ACCOUNT representing the top level organization.
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum:
            - ACCOUNT
        name:
          $ref: '#/components/schemas/OrganizationName'
      additionalProperties: false
    GroupOrganization:
      description: |
        Organization of type GROUP representing an optional grouping layer.
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum:
            - GROUP
        name:
          $ref: '#/components/schemas/OrganizationName'
      additionalProperties: false
    UnitOrganization:
      description: |
        Organization of type UNIT representing a merchant.
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum:
            - UNIT
        name:
          $ref: '#/components/schemas/OrganizationName'
      additionalProperties: false
    TaxpayerCreateRequest:
      description: |
        Request body schema to create a Taxpayer.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/TaxpayerCreateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    TaxpayerUpdateRequest:
      description: |
        Request body schema to update a Taxpayer.
      type: object
      properties:
        content:
          $ref: '#/components/schemas/TaxpayerUpdateContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    TaxpayerResource:
      description: |
        Schema of a single Taxpayer resource.
      type: object
      required:
        - content
      properties:
        content:
          $ref: '#/components/schemas/TaxpayerContent'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    TaxpayerResources:
      description: |
        Collection of Taxpayer resources returned by list endpoints.
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/TaxpayerResource'
          minItems: 1
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      additionalProperties: false
    TaxpayerCreateContent:
      description: |
        Defines the structure required to create a Taxpayer.
      discriminator:
        propertyName: type
        mapping:
          COMPANY: '#/components/schemas/CompanyTaxpayer'
          INDIVIDUAL: '#/components/schemas/IndividualTaxpayer'
      oneOf:
        - $ref: '#/components/schemas/CompanyTaxpayer'
        - $ref: '#/components/schemas/IndividualTaxpayer'
    TaxpayerUpdateContent:
      description: |
        Defines the structure required to update a Taxpayer.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TaxpayerType'
        state:
          $ref: '#/components/schemas/TaxpayerState'
        mode:
          $ref: '#/components/schemas/TaxpayerMode'
        fiscalization:
          $ref: '#/components/schemas/TaxpayerFiscalization'
        name:
          $ref: '#/components/schemas/TaxpayerName'
        address:
          $ref: '#/components/schemas/Address'
      additionalProperties: false
    TaxpayerContent:
      allOf:
        - $ref: '#/components/schemas/Taxpayers'
        - $ref: '#/components/schemas/Taxpayer'
    Taxpayers:
      oneOf:
        - $ref: '#/components/schemas/CompanyTaxpayer'
        - $ref: '#/components/schemas/IndividualTaxpayer'
    Taxpayer:
      description: |
        Taxpayer.
      type: object
      required:
        - id
        - state
        - mode
        - country
        - locations
      properties:
        id:
          $ref: '#/components/schemas/TaxpayerIdentifier'
        state:
          $ref: '#/components/schemas/TaxpayerState'
        mode:
          $ref: '#/components/schemas/TaxpayerMode'
        country:
          $ref: '#/components/schemas/TaxpayerCountry'
        locations:
          $ref: '#/components/schemas/TaxpayerLocations'
        vat_number:
          $ref: '#/components/schemas/TaxpayerVatNumber'
        created_at:
          $ref: '#/components/schemas/TaxpayerCreatedAt'
        updated_at:
          $ref: '#/components/schemas/TaxpayerUpdatedAt'
        logs:
          $ref: '#/components/schemas/TaxpayerLogs'
      additionalProperties: false
    Logs:
      description: |
        A list of 1 to 1000 `Log` entries reporting issues.
      type: array
      items:
        $ref: '#/components/schemas/Log'
      minItems: 1
      maxItems: 1000
    Log:
      description: |
        A `Log` represents a single log entry.
      type: object
      required:
        - severity
        - message
      properties:
        severity:
          $ref: '#/components/schemas/LogSeverity'
        message:
          $ref: '#/components/schemas/LogMessage'
      additionalProperties: false
    LogSeverity:
      description: |
        The severity of a log entry.
      type: string
      enum:
        - ERROR
        - WARNING
    LogMessage:
      description: |
        A human-readable log message with a maximum length of 256 characters.
      allOf:
        - $ref: '#/components/schemas/PlainString256'
    TaxpayerLogs:
      description: |
        Log entries for the `Taxpayer`.
      allOf:
        - $ref: '#/components/schemas/Logs'
    TaxpayerState:
      description: |
        Taxpayer state.
      type: string
      enum:
        - ACQUIRED
        - COMMISSIONED
        - DECOMMISSIONED
    TaxpayerMode:
      description: |
        Taxpayer mode.
      type: string
      enum:
        - INACTIVE
        - OPERATIVE
        - SUSPENDED
        - DEGRADED
    TaxpayerFiscalization:
      anyOf:
        - $ref: '#/components/schemas/CompanyFiscalization'
        - $ref: '#/components/schemas/IndividualFiscalization'
    TaxpayerCountry:
      description: |
        Country where the taxpayer is registered.
      oneOf:
        - $ref: '#/components/schemas/PlainString128'
    TaxpayerVatNumber:
      description: |
        VAT Identification Number of the recipient<br>(BT-48 Buyer VAT identifier).
      type: string
      pattern: '^([A-Za-z0-9-]{1,20})$'
      minLength: 1
      maxLength: 20
      example: FR12345678901
    TaxpayerLocations:
      description: |
        Defines the Locations that can be created and associated with the Taxpayer.
      type: array
      items:
        $ref: '#/components/schemas/TaxpayerLocation'
    TaxpayerLocation:
      description: |
        Includes the `type` (`HEAD_OFFICE` or `BRANCH`) and `description` of the Locations that can be associated with a Taxpayer.
      type: object
      required:
        - type
        - description
      properties:
        type:
          $ref: '#/components/schemas/TaxpayerLocationType'
        description:
          $ref: '#/components/schemas/TaxpayerLocationDescription'
      additionalProperties: false
    TaxpayerLocationType:
      description: |
        Type of Location.
      type: string
      enum:
        - HEAD_OFFICE
        - BRANCH
    TaxpayerLocationDescription:
      description: |
        Location description.
      allOf:
        - $ref: '#/components/schemas/PlainString256'
    TaxpayerUpdatedAt:
      description: |
        Timestamp of when the Taxpayer was updated.
      allOf:
        - $ref: '#/components/schemas/DatetimeFormatRFC3339'
    TaxpayerCreatedAt:
      description: |
        Timestamp of when the Taxpayer was created.
      allOf:
        - $ref: '#/components/schemas/DatetimeFormatRFC3339'
    CompanyTaxpayer:
      description: |
        A `Taxpayer` of type `COMPANY`, representing a legal entity, defined by its `name`, `address`, and fiscalization information.
      type: object
      required:
        - type
        - name
        - address
      properties:
        type:
          type: string
          enum:
            - COMPANY
        name:
          $ref: '#/components/schemas/CompanyName'
        address:
          $ref: '#/components/schemas/CompanyAddress'
        fiscalization:
          $ref: '#/components/schemas/CompanyFiscalization'
      additionalProperties: false
    CompanyName:
      description: |
        Company name.
      type: object
      required:
        - legal
        - trade
      properties:
        legal:
          $ref: '#/components/schemas/LegalName'
        trade:
          $ref: '#/components/schemas/TradeName'
      additionalProperties: false
    LegalName:
      description: |
        Legal name of the company<br>(BT-44 Buyer name).
      allOf:
        - $ref: '#/components/schemas/PlainString128'
    TradeName:
      description: |
        Trade name of the company.
      allOf:
        - $ref: '#/components/schemas/PlainString128'
    CompanyAddress:
      description: |
        Legal address of the company.
      allOf:
        - $ref: '#/components/schemas/LegalAddress'
    LegalAddress:
      description: |
        Recipient address data<br>(BG-8 Buyer postal address).
      allOf:
        - $ref: '#/components/schemas/Address'
    IndividualTaxpayer:
      description: |
        A Taxpayer of type INDIVIDUAL, representing a natural person (e.g. sole traders / self-employed individuals).
      type: object
      required:
        - type
        - name
        - address
      properties:
        type:
          type: string
          enum:
            - INDIVIDUAL
        name:
          $ref: '#/components/schemas/IndividualName'
        address:
          $ref: '#/components/schemas/IndividualAddress'
        fiscalization:
          $ref: '#/components/schemas/IndividualFiscalization'
      additionalProperties: false
    IndividualName:
      description: |
        Individual taxpayer name.
      type: object
      required:
        - legal
        - person
      properties:
        legal:
          $ref: '#/components/schemas/LegalName'
        person:
          $ref: '#/components/schemas/PersonName'
      additionalProperties: false
    IndividualAddress:
      description: |
        Legal address of an individual taxpayer.
      allOf:
        - $ref: '#/components/schemas/Address'
    TaxpayerName:
      description: |
        Taxpayer name.
      oneOf:
        - $ref: '#/components/schemas/CompanyName'
        - $ref: '#/components/schemas/IndividualName'
    TaxpayerType:
      description: |
        Details specific to the taxpayer type.
      type: string
      enum:
        - COMPANY
        - INDIVIDUAL
    CompanyFiscalization:
      description: |
        Country-specific fiscalization information for a company.
      discriminator:
        propertyName: type
        mapping:
          IT: '#/components/schemas/ItalianFiscalization'
          FR: '#/components/schemas/FrenchFiscalization'
          BE: '#/components/schemas/BelgianFiscalization'
          PT: '#/components/schemas/PortugueseFiscalization'
          DE: '#/components/schemas/GermanCompanyFiscalization'
          SE: '#/components/schemas/SwedishCompanyFiscalization'
          AT: '#/components/schemas/AustrianFiscalization'
          ES: '#/components/schemas/SpanishCompanyFiscalization'
      oneOf:
        - $ref: '#/components/schemas/ItalianFiscalization'
[...]
